* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  user-drag: none;
}
body {
  background-color: #cccccc;
  font: 12px Lucida, monospace;
}

canvas {
  background: #eee; display: block; margin: 0 auto;
}

h1 {
  position: absolute;
  top: 50px;
  left: 125px;
  font: 24px Lucida, monospace;
}

h2 {
  position: absolute;
  bottom: 50px;
  left: 125px;
  font: 24px Lucida, monospace;
}

h3 {
  position: absolute;
  top: 50px;
  right: 300px;
  font: 24px Lucida, monospace;
}

td{
  border: 0.5vmin solid black;
  border-color: darkgray;
  white-space: nowrap;
  overflow: hidden;

  width:8.75vmin;
  height:10.0625vmin;

  text-align: center;
  vertical-align: middle;
}
table.play{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
table.bg{
  border: 0.5vmin solid black;
  border-spacing: 3px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
td:hover{
  border: 0.5vmin solid black;
}

.bg{
  background-color: gray;
}

.flag{
  background-color: LightGreen;
}

.reveal{
  background-color: lightgray
}

.trip{
  background-color: coral;
}

img {
  min-width: 70%;
  max-width: 100%;

  margin-left: auto;
  margin-right: auto;
}
